<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Get Latitude and Longitude values</h3>
      <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>City Name</label>
          <input
            type="text"
            formControlName="locationName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.locationName.errors }"
            #name
          />
          <div
            *ngIf="submitted && f.locationName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.locationName.errors.required">
              Please enter the city name
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="name.length === 0">
            Get Location Details
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>
</div>
<app-location-view
  [showData]="showData"
  [cityName]="cityName"
  [latitude]="latitude"
  [longitude]="longitude"
></app-location-view>
<div *ngIf="spinner" class="loader"></div>
